# General cruft
.DS_Store
*.swp
*.bak

# Python
*__pycache__
*.pyc

# TensorFlow/NumPy/Pickle temporaries
src/rnn/checkpoint
src/rnn/save
src/rnn/*-saved
src/rnn/data/**/*.npy
src/rnn/data/**/*.pkl

# Compilation products
*.dSYM
*.out
*.o
*.sconsign.dblite
src/out/*

# IDE cruft
*.idea


# Custom ignores
diss/*.pdf
rough_unchecked
*/MNIST_DATA/*

# LaTeX files
*.aux
*_minted*
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*-blx.bib
*.synctex.*

